attr==0.3.2
attrs==21.2.0
beautifulsoup4==4.12.2
calmjs==
certifi==
chardet==
charset_normalizer==
cssselect==
decorator==
dotenv==
exceptiongroup==
extruct==
h11==
html_text==
html5lib==
idna==
ijson==
isodate==
jmespath==
js2xml==
jstyleson==
jsonpath_ng==
lxml==
mf2py==
outcome==
packaging==
parsel==
pkg_resources==
ply==
pyparsing==
pyRdfa==
pyRdfaExtras==
rdflib==
rdflib_jsonld==
requests==
selenium==
setuptools==
six==
sniffio==
socks==
sockshandler==
sortedcontainers==
soupsieve==
tqdm==
trio==
trio_websocket==
urllib3==
validators==
w3lib==
webdriver_manager==
webencodings==
wsproto==
